body {
}
h1 {
  margin-left: 50px;
}

.container {
  position: absolute;
  width: 600px;
  height: 520px;
  background: url("background.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  border: 10px solid black;
}

.table {
  background: url("mesa.png");
  width: 210px;
  height: 110px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: 130px;
  margin-top: 160px;
  margin-left: 190px;
}

.segment {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.segment-horizontal {
  width: 100px;
  top: 0;
  bottom: 0;
}

.segment-vertical {
  height: 100px;
  left: 0;
  right: 0;
}

.up {
  top: -80px;
}

.down {
  bottom: -80px;
}

.left {
  left: -80px;
}

.right {
  right: -60px;
}

.chair {
  background: url("silla.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 43px;
  background-size: contain;
  margin: 10px;
  visibility: hidden;
}

.down .chair {
  transform: rotate(180deg);
}

.left .chair {
  transform: rotate(-90deg);
}

.right .chair {
  transform: rotate(90deg);
}
.settings {
  position: absolute;
  right: 84px;
  top: 30px;
  display: flex;
}

.button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-family: sans-serif;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.button-add {
  background: green;
}

.button-remove {
  background: red;
}
